@import '../utils/colors';

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
  border: 0.2px solid;
  border-radius: 8px;
  background-color: $component-background;
  box-shadow: $component-shadow;

  .submit-button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: $button-color;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background-color: $button-hover;
    }
  }
}
