$component-background: rgb(170 170 170 / 50%);
$component-shadow: 0 2px 4px rgb(255 255 255 / 20%), 0 4px 8px rgb(255 255 255 / 20%);
$button-color: rgb(5 118 240);
$done-color: rgb(34 206 34);
$button-logout-color: rgb(223 33 12);
$button-hover: rgb(0 86 179);